
:root{
    --color-bg:#1f1f38;
    --color-bg-vairent:#2c2c6e;
    --color-primary:#4db5ff;
    --color-primary-vairent:rgba(77,181,255,0.4);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.6);

    --transition:all 400ms ease;

    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-ms:90%;
}

.portfolio__container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item
{
    background:#2c2c6e;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item{
    border-color:#4db5ff;
    background: #2c2c6e;
}

.portfolio__item-image
{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta
{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ====== Media Query ====== */

@media screen and (max-width: 1024px)
{
   .portfolio__container
   {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
   }
}

/* ====== Media Query (Small Screens) ====== */

@media screen and (max-width: 600px)
{
    .portfolio__container
    {
     grid-template-columns: 1fr;
     gap: 1rem;
    }
}